<swiper-container [modules]="swiperModules">
  <swiper-slide>
    <img src="../../../assets/img/islandia.png" alt="">
    <ion-fab style="margin-left: 80px;margin-top: 20px;">
      push
      <ion-fab-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/img/finlandia.png" alt="">
    <ion-fab style="margin-left: 80px;margin-top: 20px;">
      push
      <ion-fab-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/img/suecia.png" alt="">
    <ion-fab style="margin-left: 80px;margin-top: 20px;">
      push
      <ion-fab-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/img/noruega.png" alt="">
    <ion-fab style="margin-left: 80px;margin-top: 20px;">
      push
      <ion-fab-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </swiper-slide>
  <swiper-slide>
    <img src="../../../assets/img/dinamarca.png" alt="">
    <ion-fab style="margin-left: 80px;margin-top: 20px;">
      push
      <ion-fab-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </swiper-slide>
</swiper-container>